# Release notes

#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
#set($h5 = '#####')
#set($gborgbug = 'http://web.archive.org/web/20061208113236/http://gborg.postgresql.org/project/pljava/bugs/bugupdate.php?')
#set($pgfbug = 'https://web.archive.org/web/*/http://pgfoundry.org/tracker/?func=detail&amp;atid=334&amp;group_id=1000038&amp;aid=')
#set($pgffeat = 'https://web.archive.org/web/*/http://pgfoundry.org/tracker/?func=detail&amp;atid=337&amp;group_id=1000038&amp;aid=')
#set($ghbug = 'https://github.com/tada/pljava/issues/')
#set($ghpull = 'https://github.com/tada/pljava/pull/')

$h2 PL/Java 1.6.10

This is the tenth minor update in the PL/Java 1.6 series. It adds support
for building and running with Java 25 and with PostgreSQL 18, and improvements
to exception handling and logging that should be helpful in debugging the common
developer mistake of catching a PostgreSQL exception and proceeding without
rolling back to a prior savepoint. Further information on the changes
may be found below.

When run on Java 24 or later, there is no security policy enforcement; please
review the release notes below for PL/Java 1.6.9 for more detail on that.

$h3 Version compatibility

PL/Java 1.6.10 can be built against recent PostgreSQL versions including 18, and
older ones back to 9.5, using Java SE 9 or later. The Java version used at
runtime does not have to be the same version used for building. PL/Java itself
can run on any Java version 9 or later, but for security policy enforcement the
runtime Java version must be 23 or earlier. PL/Java functions can be
written for, and use features of, whatever Java version will be loaded at run
time. See [version compatibility][versions] for more detail.

$h3 Changes

$h4 Runtime

$h5 Exception-handling and logging improvements for mishandled exceptions

When a PL/Java function calls back into PostgreSQL, an exception may be thrown.
At that point, there are two things a PL/Java function may legitimately do:
it may re-throw the exception (or throw some other exception), so that the
PL/Java function returns exceptionally and PostgreSQL cleans up the transaction,
or it may roll back to a savepoint that was established before the exception was
thrown, and then proceed and return non-exceptionally. To catch such an
exception and simply proceed, without rolling back to a prior savepoint, is
a common new-developer mistake.

In past PL/Java versions, the troubleshooting for such a common mistake was
uncommonly difficult, because the mishandling might not be detected until
PL/Java made some later, even quite unrelated, call back into PostgreSQL, and
the exception thrown at that point might have no connection to the original
exception that was mishandled.

PL/Java 1.6.10 adds new exception-handling and logging behavior that should
greatly simplify debugging such common mistakes. Details are in the new
documentation section [Catching PostgreSQL exceptions in Java][catch].

[catch]: use/catch.html

$h3 Bugs fixed

* [ClassNotFoundException using PL/Java 1.6.8 on Postgres 17.2](${ghbug}523)
* [support for PostgreSQL 18](${ghbug}524)
* [SQL generator may use non-reproducible order in rare cases](${ghbug}527)

$h3 Credits

Thanks to Achilleas Mantzios for starting on the PostgreSQL 18 changes, `daddeo`
for making the case to improve the treatment and logging of mishandled
exceptions.

$h2 Earlier releases

## A nice thing about using Velocity is that each release can be entered at
## birth using h2 as its main heading, h3 and below within ... and then, when
## it is moved under 'earlier releases', just define those variables to be
## one heading level finer. Here goes:
#set($h2 = '###')
#set($h3 = '####')
#set($h4 = '#####')
#set($h5 = '######')

$h2 PL/Java 1.6.9

This is the ninth minor update in the PL/Java 1.6 series. It adds support
for building and running with Java 24 _but only with no security enforcement_,
as explained below. Other than some minor bug fixes, that is the most notable
change. Further information on the changes may be found below.

$h3 Version compatibility

PL/Java 1.6.9 can be built against recent PostgreSQL versions including 17, and
older ones back to 9.5, using Java SE 9 or later. The Java version used at
runtime does not have to be the same version used for building. PL/Java itself
can run on any Java version 9 or later, but for security policy enforcement the
runtime Java version must be 23 or earlier. PL/Java functions can be
written for, and use features of, whatever Java version will be loaded at run
time. See [version compatibility][versions] for more detail.

Some builds of Java 20 are affected by a bug, [JDK-8309515][]. PL/Java will
report an error if it detects it is affected by that bug, and the solution can
be to use a Java version earlier than 20, or one recent enough to have the bug
fixed. The bug was fixed in Java 21.

$h3 Security policy enforcement unavailable in Java 24 and later

PL/Java 1.6 has historically enforced a flexible and fine-grained security
policy allowing it to offer, in PostrgreSQL parlance, both a 'trusted' and
'untrusted' procedural language with configurable limits on the allowed
behavior for both. That mode of operation, described in
[Configuring permissions in PL/Java][policy], remains fully supported
in PL/Java 1.6.9 _as long as the Java version used at runtime is Java 23 or
earlier_.

The crucial Java language features making that possible have been removed
by the developers of Java, beginning with Java 24. PL/Java 1.6.9 can be used
with a Java 24 or later runtime, but only as an 'untrusted' language with no
policy enforcement, as described in
[PL/Java with no policy enforcement][nopolicy].

Because enforcement depends only on the Java version at runtime, a simple change
to the `pljava.libjvm_location` [configuration variable][variables] allows the
flexibility to host user code using the latest Java 24+ language features (but
with no policy enforcement) in an application where that is acceptable, or,
where the newest language features are not needed, to continue to use an older
supported Java version, including the long-term-support Java 21, with policy
enforced.

The details in [PL/Java with no policy enforcement][nopolicy] should be
carefully reviewed before using PL/Java in that mode. The section on generic
Java hardening tips can also be a source of good practices for defense-in-depth
even when running with policy enforcement.

$h3 Changes

$h4 Supplied examples

$h5 Softened dependency of examples jar on Saxon library

The Maven build produces a `pljava-examples` jar from the supplied example code,
and can produce that jar with or without the examples that depend on the Saxon
XML library, based on a build-time profile setting. In past releases, the
examples jar, if built with the Saxon examples included, could not be deployed
(`sqlj.install_jar` with `deploy => true` would fail) in a database where a
Saxon jar had not already been installed and placed on the classpath. For cases
where the Saxon examples are not of interest, that inability to deploy the
examples jar based on a choice made at build time was an inconvenience.

The examples jar now, if built with the Saxon examples included, simply will
leave those examples undeployed, if Saxon classes cannot be found on
the classpath at the time of deployment.

$h5 New example function to examine Java's boot module layer

The discussion of [PL/Java with no policy enforcement][nopolicy] encourages
attention to which Java modules are made available in Java's boot module layer.
A new example function is supplied to return that information.

$h4 Continuous integration

Workflows for GitHub Actions, AppVeyor, and Travis have had duplicated code
factored out into a single `jshell` script in the new `CI` directory.

The script is able to use either the `PGJDBC` or `pgjdbc-ng` driver for
connecting to a test server instance. The CI configuration has been using
`pgjdbc-ng` but now uses `PGJDBC`, to avoid a `pgjdbc-ng` dependency on
a library whose native operations Java 24 now warns about and a future
Java release will forbid.

The GitHub Actions CI workflow now covers Ubuntu, Mac OS on both Intel and ARM,
and Windows using both MSVC and MinGW-w64.

$h4 Documentation

$h5 Java stack traces and debugger control

The needed settings of `client_min_messages` or `log_min_messages` for Java
exception stacktraces to be shown have been mentioned in passing in too many
places that were not the user documentation, while never clearly stated there.
There is now a [new section](use/use.html#Java_exception_stack_traces) for that,
and also one for [connecting a debugger](use/use.html#Connecting_a_debugger).

$h5 Links into API docs now assume Java 21 `javadoc` version will be used

While it should be possible to build the API documentation with the `javadoc`
tool of whatever Java version is used at build time, different versions of the
tool introduce changes in HTML output, such as anchor names, that affect
links into the API documentation from other pages, such as the build/install/use
documentation in Markdown. To build a full set of documentation with working
links, an assumption must be made about the version of `javadoc` that will be
used. Links have been updated on the assumption that the API docs will be built
with the `javadoc` tool of Java 21.

$h3 Bugs fixed

* [SQL generator unexpected case-sensitive matching of implementor tags](${ghbug}515)
* [Class path used during jar deploy/undeploy can be bad](${ghbug}516)

$h3 Credits

Thanks in release 1.6.9 to ZhangHuiGui for highlighting the need to better
document debugging arrangements and Java stack traces.

[policy]: use/policy.html
[nopolicy]: use/unenforced.html
[variables]: use/variables.html

$h2 PL/Java 1.6.8 (19 October 2024)

This is the eighth minor update in the PL/Java 1.6 series. It adds support
for PostgreSQL 17, confirms compatibility with Java 23, and makes some slight
build-process improvements to simplify troubleshooting reported build problems.
Further information on the changes may be found below.

$h3 Version compatibility

PL/Java 1.6.8 can be built against recent PostgreSQL versions including 17, and
older ones back to 9.5, using Java SE 9 or later. The Java version used at
runtime does not have to be the same version used for building. PL/Java itself
can run on any Java version 9 or later. PL/Java functions can be
written for, and use features of, whatever Java version will be loaded at run
time. See [version compatibility][versions] for more detail.

Some builds of Java 20 are affected by a bug, [JDK-8309515][]. PL/Java will
report an error if it detects it is affected by that bug, and the solution can
be to use a Java version earlier than 20, or one recent enough to have the bug
fixed. The bug was fixed in Java 21.

$h3 Changes

$h4 Build system

While building the PL/Java native code, Maven output will include the full
`PG_VERSION_STR` from the PostgreSQL development files that have been found
to build against. The string includes platform, compiler, and build notes, as
reported by the `version` function in SQL. This information should always be
included when reporting a PL/Java native build issue, so including it in the
Maven build output will make issues easier to report.

When building with Maven's `-X` / `--debug` option for additional debug output,
the command arguments of the constructed compiling and linking commands will be
included in the output, which can be useful in troubleshooting a build problem.
The arguments are shown just as the compiler/linker is meant to ultimately
receive them; on a Unix-like platform, that is the Java `List` exactly as seen
with `ProcessBuilder.command()`. On Windows, that `List` is shown just before
the final application of extra quoting that simply ensures the compiler/linker
receives it correctly.

When building with a platform or environment that does not satisfy the `probe`
predicate of any of the included platform build rules, a Maven error message
will clearly say so. In earlier versions, an uninformative null pointer
exception resulted instead. The new message includes guidance on how to add a
build rule set for a new platform or environment, and possibly contribute it for
inclusion in PL/Java.

$h4 Documentation

The build documentation now prominently notes that `mvn --version` will show the
version of Java that Maven has found to use for the build. There had been build
issues reported that could be traced to Maven finding a different Java
installation than expected, when that version was not usable to build
PL/Java 1.6.

The documentation has been shorn of many lingering references to PostgreSQL
versions older than 9.5, the oldest that PL/Java 1.6 supports, and other
holdovers from pre-1.6 PL/Java.

$h3 Enhancement requests addressed

* [PostgreSQL 17 support](${ghpull}499)

$h3 Bugs fixed

* [Unhelpful output when build fails because no platform rules matched](${ghbug}485)

$h3 Credits

Thanks in release 1.6.8 to Francisco Miguel Biete Banon for determining the
changes needed for PostgreSQL 17.

$h2 PL/Java 1.6.7 (3 April 2024)

This is the seventh minor update in the PL/Java 1.6 series. It adds support
for FreeBSD and for building and running with Java 22, and fixes some bugs,
with few other notable changes. Further information on the changes may be found
below.

$h3 Version compatibility

PL/Java 1.6.7 can be built against recent PostgreSQL versions including 16, and
older ones back to 9.5, using Java SE 9 or later. The Java version used at
runtime does not have to be the same version used for building. PL/Java itself
can run on any Java version 9 or later. PL/Java functions can be
written for, and use features of, whatever Java version will be loaded at run
time. See [version compatibility][versions] for more detail.

Some builds of Java 20 are affected by a bug, [JDK-8309515][]. PL/Java will
report an error if detects it is affected by that bug, and the solution can be
to use a Java version earlier than 20, or one recent enough to have the bug
fixed. The bug has been fixed in Java 21.

$h3 Changes

$h4 Changes in XML support

$h5 Java 22's new XML property to control DTD processing is supported

Java 22 introduces a new property, `jdk.xml.dtd.support`, which can take values
`allow`, `deny`, and `ignore`.

The values `allow` and `deny` provide a new way to specify behavior that could
already be requested by other means, and the `allowDTD(boolean)` method of
PL/Java's `Adjusting.XML` API now tries this property first, falling back to the
older means on Java releases that do not support it.

The value `ignore` offers a previously-unavailable behavior where an XML
document with a DTD can be successfully parsed but with its DTD ignored. A new
method `ignoreDTD()` is added to the `Adjusting.XML` API to request this
treatment, and will only succeed on Java 22 or later. The last-invoked of this
method and `allowDTD(boolean)` will govern.

In Java 22, bug [JDK-8329295][] can cause parsing to fail when `ignoreDTD` is in
effect, if the document has only a minimal DTD and the SAX or DOM API is used.

$h4 Build system

The build logic that is implemented in JavaScript is now executed using the
Nashorn engine, either included with Java through release 14, or downloaded
by Maven for Java 15 and later. The build system was formerly downloading the
JavaScript engine from GraalVM to build on Java 15 and later, but a new version
of that engine needed for Java 22 would have complicated version management.

Versions of some Maven plugins used at build time
[have been updated](${ghpull}468) where critical vulnerabilities were reported.

$h3 Enhancement requests addressed

* [Build on FreeBSD](${ghpull}478)
* [Vulnerable Maven plugins used at build time](${ghbug}449)

$h3 Bugs fixed

* ["PostgreSQL backend function after an elog(ERROR)" in class loading](${ghbug}471)
* [XML parsing errors reported as XX000 when DOM API is used](${ghbug}481)

$h3 Credits

Thanks in release 1.6.7 to Francisco Miguel Biete Banon, Bear Giles, Achilleas
Mantzios, `hunterpayne`, `kamillo`.

[JDK-8329295]: https://bugs.openjdk.org/browse/JDK-8329295

$h2 PL/Java 1.6.6 (19 September 2023)

This is the sixth minor update in the PL/Java 1.6 series. It adds support
for PostgreSQL 16 and confirms compatibility with Java 21, and fixes some bugs,
with few other notable changes. Further information on the changes may be found
below.

$h3 Version compatibility

PL/Java 1.6.6 can be built against recent PostgreSQL versions including 16, and
older ones back to 9.5, using Java SE 9 or later. The Java version used at
runtime does not have to be the same version used for building. PL/Java itself
can run on any Java version 9 or later. PL/Java functions can be
written for, and use features of, whatever Java version will be loaded at run
time. See [version compatibility][versions] for more detail.

Some builds of Java 20 are affected by a bug, [JDK-8309515][]. PL/Java will
report an error if detects it is affected by that bug, and the solution can be
to use a Java version earlier than 20, or one recent enough to have the bug
fixed. The bug has been fixed in Java 21.

PL/Java 1.6.6 will definitely no longer build on PostgreSQL versions older
than 9.5. It has made no attempt to support them since 1.6.0, and lingering
conditional code for older versions has now been removed.

$h3 Changes

$h4 Changes in XML support

$h5 Java 17's standardized XML feature and property names added

Java 17 added standardized, easy-to-remember names for a number of features and
properties the underlying XML implementations had formerly supported under
implementation-specific names. PL/Java's `Adjusting.XML` API already needed to
know those various other names, to attempt using them to configure the desired
features and properties. Now it tries the new standard names too.

$h5 Better control when a feature or property can't be set as intended

The original documentation for the feature and property setters in the
`Adjusting.XML` API said "the adjusting methods are best-effort and do not
provide an indication of whether the requested adjustment was made". (At the
same time, failures could produce voluminous output to the log.)

The new [`lax(boolean)`][adjlax] method offers more control. If not used,
adjustment failures are logged (as before, but more compactly in the case of
multiple failures in one sequence of adjustments). Or, `lax(true)` can be used
to silently discard any failures up to that point in a sequence of adjustments,
or `lax(false)` to have the exceptions chained together and thrown.

The addition of the new Java 17 standardized names can complicate
version-agnostic configuration of other elements in the Java XML APIs, such as
`Transformer`, that are not directly covered by PL/Java's
`Adjusting.XML.Parsing` methods. Client code may find the new `Adjusting.XML`
method [`setFirstSupported`][adjsfs] convenient for that purpose;
[an example][egsfs] illustrates.

$h4 Packaging / testing

$h5 Support choice of `PGJDBC` or `pgjdbc-ng` in `Node`

The package jar produced as the last step of the build includes a
[test harness](develop/node.html) similar to the `PostgresNode` Perl module.
It formerly worked only with the `pgjdbc-ng` driver. Now it works with either
`PGJDBC` or `pgjdbc-ng`, and provides features for writing test scripts that
do not depend on the driver chosen.

$h4 Source code

* Minor changes to support PostgreSQL 16
* Conditional code supporting PostgreSQL versions older than 9.5 removed
* Old non-HTML5 elements (rejected by Javadoc 17 and later) removed from
    doc comments
* The `pureNonVirtualCalled` method removed to quiet warnings from recent
    C compilers
* Schema qualification in embedded SQL added to two operators that had been
    overlooked in the earlier round of adding such qualification
$h3 Bugs fixed

* [`NEWLINE` pattern can fail to match](${ghbug}455)

[adjlax]: pljava-api/apidocs/org.postgresql.pljava/org/postgresql/pljava/Adjusting.XML.Parsing.html#method-summary
[adjsfs]: pljava-api/apidocs/org.postgresql.pljava/org/postgresql/pljava/Adjusting.XML.html#method-detail
[egsfs]: https://github.com/tada/pljava/blob/V1_6_6/pljava-examples/src/main/java/org/postgresql/pljava/example/annotation/PassXML.java#L528

$h2 PL/Java 1.6.5 (13 June 2023)

This is the fifth minor update in the PL/Java 1.6 series. It adds support
for PostgreSQL 15 and fixes some bugs, with few other notable changes. Further
information on the changes may be found below.

$h3 Version compatibility

PL/Java 1.6.5 can be built against recent PostgreSQL versions including 15, and
older ones back to 9.5, using Java SE 9 or later. The Java version used at
runtime does not have to be the same version used for building. PL/Java itself
can run on any Java version 9 or later. PL/Java functions can be
written for, and use features of, whatever Java version will be loaded at run
time. See [version compatibility][versions] for more detail.

Some builds of Java 20 are affected by a bug, [JDK-8309515][]. PL/Java will
report an error if detects it is affected by that bug, and the solution can be
to use a Java version earlier than 20, or one recent enough to have the bug
fixed.

$h3 Changes

$h4 Changes affecting administration

$h5 Bugs affecting `install_jar` from http/https URLs fixed

CI testing now makes sure that http URLs work and the appropriate
`java.net.URLPermission` can be granted in `pljava.policy` where the comments
indicate.

$h4 Improvements to the annotation-driven SQL generator

$h5 PL/Java functions can be declared on interfaces as well as classes

The SQL/JRT specification has always only said 'class', but it could be
debated whether 'class' was intended strictly or inclusively. As there is
no technical obstacle to using static methods declared on an interface,
and PL/Java's runtime already could do so, the SQL generator no longer
disallows `@Function` annotations on them.

$h5 SQL generator reports compatibility with a more recent Java source version

Because PL/Java 1.6 retains compatibility for building on Java versions
back to 9, the SQL generator previously reported 9 as the source version
supported. This produced warnings building user code to target a later version
of Java, which were only an issue for sites using a fail-on-warning policy.

The SQL generator now reports its supported source version as the earlier of:
the Java version being used, or the latest Java version on which it has been
successfully tested. In this release, that is Java 20.

$h4 Improvements to documentation

$h5 Use of `--add-modules` to access Java modules not read by default, explained

By default, PL/Java starts up with a fairly small set of Java modules readable.
The documentation did not explain the use of `--add-modules` in
`pljava.vmoptions` to expand that set when user code will refer to other
modules. That is [now documented][addm].

$h3 Enhancement requests addressed

* [Allow functions from an interface](${ghbug}426)

$h3 Bugs fixed

* [Crash on startup with `SQL_ASCII` database and bad `vmoptions`](${ghbug}416)
* [Installed by `LOAD` then packaged as extension broken in recent PostgreSQL updates](${ghbug}434)
* [Java 20 breaks `LexicalsTest.testSeparator`](${ghbug}435)
* [Not found JDK 11 `java.net.http.HttpClient`](${ghbug}419) (documentation added)
* [`SocketPermission` on `install_jar`](${ghbug}425)
* [The timer in `_destroyJavaVM` does not take effect](${ghbug}407)
* PostgreSQL 15 support [410](${ghbug}410), [412](${ghbug}412)
* [Cannot specify java release other than '9' for `maven-compiler-plugin`](${ghbug}403)
* [Fail validation if function declares `TRANSFORM FOR TYPE`](${ghbug}402)
* ["cannot parse AS string" for 1-letter identifiers](${ghbug}438)

$h3 Credits

Thanks in release 1.6.5 to Francisco Miguel Biete Banon, Christoph Berg, Frank
Blanning, Stephen Frost, Casey Lai, Krzysztof Nienartowicz, Yuril Rashkovskii,
Tim Van Holder, `aadrian`, `sincatter`, `tayalrun1`.

[addm]: install/vmoptions.html#Adding_to_the_set_of_readable_modules
[versions]: build/versions.html
[JDK-8309515]: https://bugs.openjdk.org/browse/JDK-8309515

$h2 PL/Java 1.6.4 (19 January 2022)

This is the fourth minor update in the PL/Java 1.6 series. It is a minor
bug-fix release with few other notable changes. Further information
on the changes may be found below.

$h3 Changes

$h4 Changes affecting administration

$h5 JEP 411 advisory message downgraded

PL/Java follows certain administrative actions with an advisory message
about upcoming Java changes that will affect policy enforcement. In 1.6.3,
that message was always at `WARNING` level. In 1.6.4, it is downgraded
to `NOTICE` level when running on Java versions before 17.

As before, updates on how PL/Java will adapt to the future Java changes
can be watched by bookmarking [the JEP 411 topic][jep411] on the PL/Java wiki.

$h4 Changes to runtime behavior

$h5 Java's thread context class loader

Starting in 1.6.3, PL/Java has made sure the thread context class loader
on entry to a function reflects the initiating loader for the implementing
class, but in 1.6.3, the loader could be set too many times when executing
a set-returning function. That could lead to the wrong loader being restored
on function exit, likely only noticeable in an application with jars in
multiple schemas and with nested Java function invocations.

That is fixed in this release.

$h4 Improvements to the annotation-driven SQL generator

$h5 Correct SQL now emitted for a function with _one_ `OUT` parameter

PostgreSQL requires a different form of declaration for a function with
one `OUT` parameter than for a function with two or more. PL/Java was
emitting the wrong form for the one-out-parameter case.

The documentation has been clarified and new [examples][exoneout] added
to illustrate how Java methods should be structured and annotated for
both cases.

The intended treatment can be ambiguous for some Java methods, without
explicit annotations. For example, a Java method that returns `boolean`
and has a trailing `ResultSet` parameter could be a single-row
composite-returning function, or an ordinary function with a row-typed
input parameter and `boolean` return. PL/Java has always silently chosen
which interpretation to apply in such cases, and still does, but it now
emits a comment into the generated deployment descriptor, explaining
what annotation to use if a different meaning was intended.

$h5 `BaseUDT` annotation now has constants for known type categories

PostgreSQL user-defined types can be declared in categories, some of which
are predefined. PL/Java's `BaseUDT` annotation now includes constants for
those, which can be used in place of the single-letter codes for readability.

$h3 Bugs fixed

* [Wrong SQL generated for function with one `OUT` parameter](${ghbug}386)
* [`Session` object not reliably singleton](${ghbug}388)
* [Set-returning function has context classloader set too many times](${ghbug}389)
* [`java.time.LocalDate` mismapping within 30 years of +/-infinity](${ghbug}390)

[exoneout]: pljava-examples/apidocs/org/postgresql/pljava/example/annotation/ReturnComposite.html#method-summary

$h2 PL/Java 1.6.3 (10 October 2021)

This is the third minor update in the PL/Java 1.6 series. It adds support
for PostgreSQL 14, continues to improve the runtime behavior and
the annotation-driven SQL generator, and fixes several bugs. Further information
on the changes may be found below.

$h3 PL/Java with Java 17 and later: JEP 411

Current versions of PL/Java rely on Java security features that will be affected
by JEP 411, beginning with Java 17. Java 17 itself will continue to provide the
needed capabilities, with only deprecation marks and warnings added. Java 17 is
also positioned as a long-term support release, so the option of continuing to
run this PL/Java release will be available, with no loss of function,
by continuing to run with Java versions up to and including 17.

For more on how PL/Java will adapt, please bookmark [the JEP 411 topic][jep411]
on the PL/Java wiki.

For this release, PL/Java will suppress a JEP 411-related warning from the
Java runtime itself that would otherwise be emitted for every PostgreSQL backend
that starts Java, and instead will issue a more informative "migration advisory"
warning only on certain administrative actions no more than once per session,
with a goal of ensuring that responsible administrators are aware of the
expected future developments. The advisory message includes the URL to
the wiki topic above.

This release also adds code to detect if it is on a future, post-Java 17 runtime
where the needed functionality is not available, and throw informative
exceptions with suggested corrective actions.

[jep411]: https://github.com/tada/pljava/wiki/JEP-411

$h3 Changes

$h4 Changes affecting administration

$h5 New function now created on update

The new [`SQLJ.ALIAS_JAVA_LANGUAGE`][sqljajl] function introduced with 1.6 will now
be present after an `ALTER EXTENSION UPDATE` if it was not before.

$h5 Message if the Java runtime ends the backend process during startup

The Java runtime can behave antisocially for some startup issues, such
as a misspelled jar in `pljava.module_path`, and silently terminate the
backend process rather than reporting an error. (It writes a message, not
to standard error, but to standard output, which from a PostgreSQL backend
is not captured for logging, and may never be seen.) A message is now generated
in that case, to provide at least some clue what has gone wrong.

[sqljajl]: pljava/apidocs/org.postgresql.pljava.internal/org/postgresql/pljava/management/Commands.html#alias_java_language

$h4 Changes to runtime behavior

$h5 Java's thread context class loader

PL/Java now supplies a known value for the current Java thread's context
class loader on entry to a PL/Java function. It is the class loader for the
PostgreSQL schema where the function is declared. The context class loader is
referred to by numerous Java libraries and by Java's `ServiceLoader`
class, which may expect to find services and resources along the PL/Java class
path that has been configured for the function. Neglecting to set the context
class loader opened the door to unexpected loading failures like
[issue #361](${ghbug}361) that can require awkward or slow contortions
to work around in user Java code.

This change is [documented in more detail](develop/contextloader.html).
An opt-out setting is available.

$h4 Improvements to the annotation-driven SQL generator

$h5 Now able to declare function parameters that default to null

It has been possible to annotate a function parameter with
[`@SQLType(defaultValue=...)`][sqlt] to give it any non-null default value,
but because Java disallows null annotation values, that notation wasn't
usable to declare a parameter that defaults to null. The new notation
[`@SQLType(optional=true)`][sqlt] means exactly that.

$h5 Fixes a bug in synthesis of `COMMUTATOR`/`NEGATOR` operators

It is now possible to code one method in Java and declare a full
complement of operators based on it by combining commutation and negation.
A [new example][egsyn4] is provided.

[egsyn4]: https://github.com/tada/pljava/commit/6bd5aa0
[sqlt]: pljava-api/apidocs/org.postgresql.pljava/org/postgresql/pljava/annotation/SQLType.html

$h3 Bugs fixed

* [`ALTER EXTENSION UPDATE` does not create `sqlj.alias_java_language`](${ghbug}341)
* [... fails on 4 cross-type operators by commute/negate from 1 function](${ghbug}343)
* [Build failure dependent on `pg_config` output](${ghbug}347)
* [Protection domain when validator runs initializer](${ghbug}342)
* [Improve experience when `pljava.module_path` is incorrect](${ghbug}350)
* ["Failed to recognize schema" possible during `pg_upgrade`](${ghbug}352)
* Fixes and test coverage in `Lexicals.Identifier` serialization
* [Segmentation fault during `autovacuum`](${ghbug}355)
* [`java.nio.charset.MalformedInputException: Input length = 1`](${ghbug}340)
* [Thread context class loader](${ghbug}361)
* [`MappedUDT` and types with `typlen=-2`](${ghbug}370)

$h3 Updated PostgreSQL APIs tracked

* Regularized spelling of `pg_type` OID symbols
* Changed TOAST pointer format supporting selectable TOAST compression methods
* Demise of `ErrorData.show_funcname` (it was a vestige of frontend/backend
    protocol v2, long obsolete)

$h3 Credits

Thanks to Krzysztof Nienartowicz, `ricdhen`, and `JanaParthasarathy`, who
among them reported five of the issues fixed in this release.

$h2 PL/Java 1.6.2

This is the second minor update in the PL/Java 1.6 series, with two bugs fixed
(including one that was likely to be a blocker for many applications). It adds
a 'trial' security policy, useful when migrating code from PL/Java 1.5 to
identify permission grants that may be needed, and some minor but useful
example functionality.

$h3 Changes

$h4 Bug blocking use from an unprivileged PostgreSQL role fixed

In 1.6.0 and 1.6.1, PL/Java could fail to start in a backend process if the
effective PostgreSQL role was not a superuser or a member of
`pg_read_all_settings`. That is fixed in this release.

$h4 Trial security policy for migrating code from PL/Java pre-1.6.0

When migrating code from pre-1.6.0 PL/Java versions, it may be necessary to
add permission grants to the PL/Java 1.6 security policy, which is distributed
as a minimal starting point.

[Configuring permissions in PL/Java](use/policy.html) covers the topic in
general, and [Migrating to policy-based permissions](use/trial.html) covers
the new 'trial' policy introduced in 1.6.2 to simplify the process.

$h4 Example functions using XSLT 1.0 polished for simpler use

Although 1.0 is obsolete and very limited compared to current versions of XSLT,
the implementation in Java has two attractive properties. First, it is
provided in the Java runtime with no need of a separate download such as Saxon,
and second, it allows use of any accessible Java methods or constructors from
XPath expressions, which can often make it more useful than the limitations
of strict XSLT 1.0 would suggest.

The [example functions][PassXML] `prepareXMLTransform`,
`prepareXMLTransformWithJava`, and `transformXML`, which demonstrate how such
functions can be coded, have also been given streamlined parameter lists with
defaults to make them simple to use for real work.

One small but useful result is an easy way to indent XML for readability,
simply by passing a null transform name and `indent => true` to
`transformXML`.

$h3 Bugs fixed

* [must be superuser or a member of `pg_read_all_settings`](${ghbug}331)
* [Operator annotation can reject explicit operand types in error](${ghbug}330)

$h3 Credits

Thanks to Francisco Biete for the report of [#331](${ghbug}331).

[PassXML]: pljava-examples/apidocs/org/postgresql/pljava/example/annotation/PassXML.html#method-summary

$h2 PL/Java 1.6.1 (16 November 2020)

_Note: 1.6.1 was released with [a bug](${ghbug}331) likely to be a blocker
for many applications. It was fixed in 1.6.2._

This is the first minor update in the PL/Java 1.6 series, with two bugs fixed.
It also adds functionality in the SQL generator, allowing automated
declaration of new PostgreSQL aggregates, casts, and operators, and functions
with `OUT` parameters.

$h3 Changes

$h4 Limitations when built with Java 10 or 11 removed

PL/Java can now be built with any Java 9 or later (latest tested is 15 at
time of writing), and the built artifact can use any Java 9 or later at
run time (as selected by the `pljava.libjvm_location` configuration variable).

That was previously true when built with Java 9 or with Java 12 or later, but
not when built with 10 (would not run on 9) or with 11 (would not run on 9
or 10). Those limits have been removed.

$h4 Functions with `OUT` parameters

PL/Java has long been able to declare a function that returns a composite
type (or a set of such), by returning a named composite PostgreSQL type, or
by being declared to return `RECORD`.

The former approach requires separately declaring a new composite type to
PostgreSQL so it can be named as the function return. The `RECORD` approach
does not require pre-declaring a type, but requires every caller of the
function to supply a column definition list at the call site.

Declaring the function [with `OUT` parameters][outprm] offers a middle ground,
where the function has a fixed composite return type with known member
names and types, callers do not need to supply a column definition list,
and no separate declaration of the type is needed.

There is no change to how such a function is coded at the Java source level;
the new annotation element only changes the SQL generated to declare the
function to PostgreSQL. [Examples][outprmeg] are provided.

$h4 Generation of aggregate, cast, and operator declarations

The SQL generator now recognizes [`@Aggregate`][agganno], [`@Cast`][castanno],
and [`@Operator`][opranno] annotations, generating the corresponding SQL
deploy/undeploy scripts. Some examples (for [aggregates][aggeg],
[casts][casteg], and [operators][opreg]) are provided. The reduction
in boilerplate needed for a realistically-complete example can be seen
in [this comparison][bg160161] of Bear Giles's `pljava-udt-type-extension`
example; the two branches compared here are (1) using only the annotations
supported in PL/Java 1.6.0 and (2) using also the new support in 1.6.1.

$h3 Bugs fixed

* [1.6.0: opening a ResourceBundle (or a resource) fails](${ghbug}322)
* [Better workaround needed for javac 10 and 11 --release bug](${ghbug}328)

[outprm]: pljava-api/apidocs/org.postgresql.pljava/org/postgresql/pljava/annotation/Function.html#annotation-interface-element-detail
[outprmeg]: pljava-examples/apidocs/org/postgresql/pljava/example/annotation/ReturnComposite.html#method-detail
[agganno]: pljava-api/apidocs/org.postgresql.pljava/org/postgresql/pljava/annotation/Aggregate.html
[castanno]: pljava-api/apidocs/org.postgresql.pljava/org/postgresql/pljava/annotation/Cast.html
[opranno]: pljava-api/apidocs/org.postgresql.pljava/org/postgresql/pljava/annotation/Operator.html
[aggeg]: pljava-examples/apidocs/org/postgresql/pljava/example/annotation/Aggregates.html
[casteg]: pljava-examples/apidocs/org/postgresql/pljava/example/annotation/IntWithMod.html
[opreg]: pljava-examples/apidocs/org/postgresql/pljava/example/annotation/ComplexScalar.html
[bg160161]: https://github.com/beargiles/pljava-udt-type-extension/compare/98f1a6e...jcflack:3e56056

$h3 Credits

Thanks to Bear Giles for the `pljava-udt-type-extension` example, which not only
illustrates the SQL generation improvements in this release, but also exposed
both of the bugs fixed here.

$h2 PL/Java 1.6.0 (18 October 2020)

_Note: 1.6.0 was released with [a bug](${ghbug}331) likely to be a blocker
for many applications. It was fixed in 1.6.2._

This is the first release of a significantly refactored PL/Java 1.6 branch
with a number of new features and changes. It requires Java 9 or later at
build and run time, but retains the ability to run PL/Java application code
built for earlier versions. It should be used with PostgreSQL 9.5 or later.
For applications _requiring_ an older Java or PostgreSQL version, the latest
release in the PL/Java 1.5 line remains an option.

**Note to package maintainers**: these release notes should be reviewed before
an installation moves to 1.6.0 from a 1.5 or earlier version, so it is best
packaged in a way that requires an affirmative choice to upgrade.

$h3 Version compatibility

PL/Java 1.6.0 can be built against recent PostgreSQL versions including 13, and
older ones back to 9.5, using Java SE 9 or later. The Java version used at
runtime does not have to be the same version used for building. PL/Java itself
can run on any Java version 9 or later if built with Java 9 or with 12 or later
(bugs in the Java 10 and 11 compilers prevent running on 9 if built with 10,
or on 9 or 10 if built with 11). PL/Java functions can be
written for, and use features of, whatever Java version will be loaded at run
time. See [version compatibility][versions] for more detail.

When used with GraalVM as the runtime VM, PL/Java functions can use Graal's
"polyglot" capabilities to execute code in any other language available on
GraalVM. In this release, it is not yet possible to directly declare a function
in a language other than Java.

If building with GraalVM, please add `-Dpolyglot.js.nashorn-compat=true` on
the `mvn` command line.

$h3 Changes

$h4 New configurable permissions may require configuration

Prior to 1.6.0, PL/Java hard-coded the permissions that were available to
functions declared in the 'trusted' language `java` or the 'untrusted' language
`javaU`. With 1.6.0, the exact permissions available for both cases can be
configured in the `pljava.policy` file (found in the directory reported by
`pg_config --sysconfdir`) as described in the
[new policy documentation][policy].

Java's policy language can conditionally grant permissions but not deny them
if another clause grants them. Therefore, the default policy must be somewhat
restrictive, so a desired policy can be built from it with grant clauses.

In the 1.6.0 default policy, 'trusted' (`java`) code has minimal permissions,
suitable for general computation and interacting with the database, and
'untrusted' (`javaU`) code has only the additional permission to access the
file system. Existing user functions that worked in PL/Java 1.5.x and performed
other actions, such as making network connections, will need the appropriate
permissions (such as `java.net.URLPermission` or `java.net.SocketPermission`)
granted via the policy file.

The policy can grant permissions more selectively than just to `java`
or `javaU`. The [new documentation][policy] covers the details, and also how
to log, for troubleshooting purposes, the permissions being requested.

Whatever the reason, all down the years, a favorite "is PL/Java working?" check
found online has been to read a Java system property with `System.getProperty`.
Not all of those examples pick properties that can be read under the default
policy. So, even some familiar habits like that may need revision, at least to
use a property like `java.version` that is readable by default.

The former hard-coded permissions were by turns too lax or too strict, depending
on what was needed, and interfered in some cases with the operation of the Java
runtime itself, breaking (at least) its XSLT implementation and the profiling
functions of `visualvm`. This release fixes those issues.

$h4 Validation at `CREATE FUNCTION` time may force changes to deployment procedures

PL/Java can now detect problems with a function declaration, including missing
dependencies, at the time of `CREATE FUNCTION`, rather than allowing the
function to be created and reporting failure later when it is called.

This change may have an impact on some established procedures. For example,
when installing a jar that contains deployment commands, deployment may
fail if another required jar has not been installed and added to the class
path first; in the past, the order did not matter. For details, see
[this section][linkage] in the documentation for the supplied examples,
and the description of `check_function_bodies` in the
[configuration variable reference](use/variables.html).

$h4 Java 9 module system; `pljava.classpath` -> `pljava.module_path`

Because PL/Java itself is now modular code conforming to the module system
introduced with Java 9, one configuration variable has changed:
`pljava.classpath` is now `pljava.module_path`.

As before, its default value will be correct when PL/Java is installed to
the usual locations. It should be rare for any installation to have needed
to think about the old one, or to need to think about the new one. For a
rare installation that does, the details are [in the documentation][jpms].

In this release, user code is not treated as modular; the `SQLJ.INSTALL_JAR`
routine still treats its jars as unnamed-module code on a class path, as before.

$h4 Improvements to the annotation-driven SQL generator

$h5 Infers additional implicit ordering dependencies

The SQL generator can now respect the implicit ordering constraints among
user-defined types and functions that either use the types or are used in their
definitions, which can eliminate many `provides`/`requires` annotation elements
that had to be added by hand for PL/Java 1.5. The reduction in boilerplate
needed for a realistic example can be seen by comparing the annotated version
of Bear Giles's `pljava-udt-type-extension` example at
[this commit][udtd32f84e] (pre-1.6) and [this one][udt0066a1e] (1.6.0).

$h5 Generates variadic function declarations

PL/Java 1.6 can declare functions that can be called from SQL with varying
numbers of arguments. [Example code][variadic] is provided.

$h4 Better support for PostgreSQL's `SQL_ASCII` encoding

PostgreSQL's legacy `SQL_ASCII` encoding is difficult to use in Java because
128 of its code points have no defined mapping to Unicode, which Java uses.
The page on [database character set encodings][charsets] has a section
suggesting workable approaches if PL/Java is used in a database with that
encoding. A new addition among those options is a Java `Charset` supporting
the encoding names `X-PGSQL_ASCII` or `SQL_ASCII`, which maps the ASCII
characters as expected, and reversibly encodes the others using Unicode
permanently-undefined codepoints.

$h4 Build system, continuous integration, quality assurance

* The `nar-maven-plugin` formerly used in the build has been replaced with
    a newly-developed Maven plugin tailored to PostgreSQL extension building.

* The new plugin respects the flags reported by `pg_config` when building
    the native library.

* Building with the same flags used for PostgreSQL has eliminated the flood
    of uninformative warnings that, in prior versions, made troubleshooting
    actual build problems difficult.

* Travis-CI and AppVeyor now regularly build and test PL/Java for
    Linux (x86_64 and ppc64le), Mac OS, and Windows (using MSVC
    and MinGW-w64), with results visible at GitHub.

* PL/Java's self-installer jar now includes utilities to simplify
    integration testing, similar to the `PostgresNode` Perl module provided
    with PostgreSQL. It is used in the Travis and AppVeyor builds to keep
    platform-specific code to a minimum, and may be useful for other purposes.
    Some [documentation](develop/node.html) is included.

* Having fixed the permission issues that were breaking the profiling functions
    of `visualvm`, it will be easier to incorporate profiling into future
    development.

$h3 Enhancement requests addressed

* [Add regression testing](${ghbug}11)
* [`CFLAGS` from `pg_config` when building `pljava-so`](${ghbug}152)

$h3 Bugs fixed

* [`-Dpljava.libjvmlocation` breaks Windows build](${ghbug}190)
* [XML Schema regression-test failure in de_DE locale](${ghbug}312)

$h3 Updated PostgreSQL APIs tracked

* 64-bit `FuncCallContext.call_cntr` (`ResultSetProvider`/`ResultSetHandle`
    can now return more than `INT_MAX` rows)

$h3 Credits

There is a PL/Java 1.6.0 thanks in part to
Christoph Berg,
Chapman Flack,
Kartik Ohri,
original creator Thomas Hallgren,
and the many contributors to earlier versions.

The work of Kartik Ohri in summer 2020 on the build system renovation and
continuous integration was supported by Google Summer of Code.

[policy]: use/policy.html
[linkage]: examples/examples.html#Exception_resolving_class_or_method_.28message_when_installing_examples.29
[udtd32f84e]: https://github.com/jcflack/pljava-udt-type-extension/commit/d32f84e
[udt0066a1e]: https://github.com/jcflack/pljava-udt-type-extension/commit/0066a1e
[variadic]: pljava-examples/apidocs/org/postgresql/pljava/example/annotation/Variadic.html#method-detail
[charsets]: use/charsets.html
[jpms]: use/jpms.html

$h2 [Releases prior to PL/Java 1.6.0](releasenotes-pre1_6.html)
